.footer{
    background-color: #2d2f30;
    color: #fff;
    text-align: center;
    margin-top: 25px;
    strong{
        @include xs {
            font-size: 15px;
            line-height: 22px;
        }
        display: block;
        padding-top: 25px;
        color: #dddddd;
        font-size: 20px;
        font-weight: 300;
        line-height: 28px;
    }
    span{
        @include xs {
            font-size: 11px;
            line-height: 16px;
        }
        display: block;
        padding-bottom: 22px;
        color: #dddddd;
        font-size: 16px;
        font-weight: 300;
        line-height: 22px;
    }
}

    .footer__img{
        margin: 12px 0;
        img{
            margin: 0 6px;
        }
    }

    .footer__line{
        background-color: #545250;
        height: 1px;
        width: 100%;
        margin-bottom: 18px;
    }