.section{
    @extend .clearfix;
    padding-top: 14px;
}
    .owl-carousel{
        @include md {
            width: 670px;
            height: 100%;
        }
        @include sm {
            width: 100%;
            height: 100%;
        }
        position: relative;
        float: left;
        width: 704px;
        height: 304px;
        .owl-nav{
            padding: 0;
            margin: 0;
            .owl-prev, .owl-next{
                position: absolute;
                top: 50%;
                margin: 0;
                padding: 0;
                margin-top: -19px;
                font-size: 26px;
                line-height: 38px;
                border-radius: 19px;
                width: 35px;
                height: 38px;
                background-color: #000000;
                opacity: 0.8;
            }
            .owl-prev{
                padding-right: 3px;
                left: 12px;
            }
            .owl-next{
                padding-left: 3px;            
                right: 12px;
            }
            .disabled{ // .owl-prev, .owl-next - к ним добавляет класс при неактивности кнопок 
                opacity: 0.15;
            }
        }
        img{
            vertical-align: middle;
            max-height: 304px;
            max-width: 704px;
        }
    }

    .section__right_block{  
        @include md {
            width: 260px;
            height: 294px;
        }   
        @include sm {
            display: none;
        }
        float: right;   
        background-image: url('../img/section__right_block.png');
        background-repeat: no-repeat;
        width: 269px;
        height: 304px;
        color: #fff;
        text-align: center;
    }

        .section__right_block_title{   
            font-size: 27px;
            font-weight: 400;
            margin-top: 14px;
        }

        .section__right_block_desc{
            font-size: 15px;
            font-weight: 300;
            margin-top: 2px;
        }

        .section__right_block_discount{
            font-size: 18px;
            font-weight: 300;
            margin-top: 155px;
        }

        .section__right_block_cost{
            font-size: 20px;
            font-weight: 700;
            margin-top: 4px;
        }

        .section__right_block_button{
            margin: 5px auto 0 auto;
            width: 108px;
            height: 28px;
            line-height: 24px;
            border: 1px solid #52a452;
            color: #fff;
            cursor: pointer;
            border-radius: 4px;
            background-image: linear-gradient(to top, #51a451 0%, #61c261 100%);
            font-size: 14px;
            &:hover{
                color: #252420;
            }
            &:active{
                font-size: 15px;
            }
        } 
